#cart-popup-main-wrapper {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 23%;
  margin: auto;
  padding-bottom: 10px;
  position: fixed;
  z-index: 8;
  background-color: white;
  top: 0px;
  right: 0px;
}

#cart-popup-header-wrap {
  display: flex;
  border-bottom: 0.5px solid lightgrey;
  padding: 10px;
  width: 98%;
  margin: auto;
}

#cart-popup-header-wrap > :nth-child(1) {
  margin-top: 5px;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

#cart-popup-header-wrap > :nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.015em;
}

#cart-popup-header-wrap > :nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #263238;
  margin-top: 5px;
  margin-left: 5px;
}

#cart-popup-header-wrap > :nth-child(4) {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.015em;
  color: #0a0196;
  margin-top: 5px;
  margin-left: 60px;
}

#cart-products-main-wrapper{
overflow-y: scroll;
height: 300px;
}

.cart-product-image-title-description-wrap {
  display: flex;
}

.cart-product-image-wrap {
  width: 17%;
  height: 40px;
  margin-top: 3px;
}

.cart-product-image-wrap > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cart-product-wrap {
  width: 90%;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  padding: 12px;
}

.cart-product-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
}

.cart-product-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #0000009e;
}

.cart-product-title-description-wrap {
  margin-left: 10px;
}

.cart-product-divider {
  margin-top: 15px;
  color: lightgrey;
}

.cart-product-quantity-price-wrap {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.cart-product-quantity-buttons-wrap {
  display: flex;
}

.cart-product-quantity-buttons-wrap {
  width: 40%;
}

.cart-product-quantity-buttons-wrap > button {
  height: 25px;
  width: 18%;
  margin-right: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: none;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
  background: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.cart-product-quantity-buttons-wrap > :nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

.cart-product-price-wrap {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.001em;
  text-align: center;
}

.cart-product-price-wrap > :nth-child(1) {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 3px;
}

.cart-product-delete-icon {
  color: #707070;
  margin-left: 35px;
  margin-top: -5px;
  font-size: 18px;
}

.cart-total-pay-wrap {
  border: 0.5px solid lightgrey;
  padding: 10px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-radius: 3px;
}

.cart-total-pay-wrap > :nth-child(1) {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.005em;
}

.cart-total-pay-wrap-products-quantity-price-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
}

.cart-total-pay-wrap-products-final-price {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: left;
  margin-top: 15px;
}

.cart-total-pay-wrap-products-quantity-price-wrap > :nth-child(2) > span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 3px;
}

.cart-total-pay-wrap-products-final-price > :nth-child(2) > span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 3px;
}

.cart-grand-total-proceed-button-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
}

.cart-grand-total-wrap {
  text-align: left;
}

.cart-proceed-button-wrap {
  width: 150px;
  height: 35px;
  padding: 6px;
  display: flex;
  background-color: #0a0196;
  color: white;
  border: none;
  text-align: left;
  margin-top: 5px;
  padding-left: 10px;
  cursor: pointer;
}

#checkout-proceed-button-a-tag{
 text-decoration:none;
}

.cart-grand-total-content {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.001em;
}

.cart-grand-total-content-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #000000cf;
  margin-top: -6px;
}

.cart-grand-total-content > span {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 3px;
}

.cart-proceed-button-arrow-icon {
  margin-left: 50px;
  font-size: 20px;
}

.cart-proceed-button-wrap > :nth-child(1) {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.001em;
  text-align: left;
}

@media screen and (max-width:480px) {

  #cart-popup-main-wrapper {
  width: 90%;
}

#cart-popup-header-wrap > :nth-child(4) {
  margin-left: 110px;
  font-size: 13px;
}

.cart-product-image-wrap {
  width: 60%;
  height: 30px;
  margin-top: 3px;
}

.cart-product-image-wrap > img {
  object-fit: contain;
}

.cart-product-title {
  font-size: 10px;
  line-height: 20px;
}

.cart-product-description {
  font-size: 10px;
  line-height: 20px;
}

}