#footer-main-wrapper {
  margin-top: 10px;
}

#footer-email-section-wrap {
  height: 200px;
  background-image: url("../bg-img/footer/footer-bg.png");
  background-size: cover;
  padding-top: 40px;
}

#footer-email-section-get-started-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.001em;
  text-align: center;
  color: #ffffff;
}

#footer-email-section-main-title {
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
}

#footer-email-section-input-wrap {
  width: 25%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 30px;
  border-radius: 5px;
}

#footer-email-section-input-wrap > input {
  padding: 10px;
  width: 78%;
  border: none;
}

#footer-email-section-input-wrap > input:focus {
  outline: none;
}

#footer-email-section-input-wrap > input::placeholder {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.0025em;
  text-align: left;
}

#footer-email-section-input-wrap > button {
  padding: 7px;
  width: 19%;
  background: #10044e;
  border-radius: 0px 2px 2px 0px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.0025em;
  border: none;
}

#footer-main-content-section-wrap {
  display: flex;
  /* border: 1px solid red; */
  width: 95%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

#footer-main-content-section-wrap > div {
  width: 20%;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.0025em;
  text-align: left;
}

#footer-main-content-section-wrap > div > div {
  margin-bottom: 15px;
  cursor: pointer;
}

#footer-main-content-section-wrap > div > div:hover {
  color: #10044e;
  font-weight: 600;
}

.footer-main-content-section-titles {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.0015em;
  margin-bottom: 10px;
  margin-top: 5px;
}

#footer-main-content-section-logo-wrap {
  width: 100%;
  height: 50px;
  /* border: 1px solid red; */
}

#footer-main-content-section-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-main-content-section01-text {
  margin-left: 58px;
}

#footer-bottom-section-wrap {
  background: #0a0196;
  padding-top: 23px;
  padding-bottom: 10px;
}

#footer-bottom-section-content-wrap {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  width: 80%;
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.0015em;
}

#footer-bottom-section-social-media-icons-youtube {
  margin-left: 5px;
}

#footer-bottom-section-social-media-icons-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.footer-bottom-section-social-media-icons {
  width: 20%;
}

.footer-bottom-section-social-media-icons:nth-child(4) {
  margin-left: -8px;
  margin-top: 6px;
  width: 24%;
}

.footer-bottom-section-social-media-icons > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#footer-bottom-section-social-media-icons-youtube {
  /* border: 1px solid red; */
  object-fit: contain;
}

#footer-bottom-section-content-heart-icon {
  margin-left: 5px;
  margin-right: 8px;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  #footer-email-section-get-started-title {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.001em;
  }

  #footer-email-section-main-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: #ffffff;
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }

#footer-email-section-input-wrap {
  width: 70%;
  margin: auto;
  background-color: #ffffff;
  margin-top: 15px;
  border-radius: 5px;
}

#footer-email-section-wrap {
  padding-top: 25px;
}

}
