#navbar-dropdown-celebrations-section-wrap {
  display: flex;
  width: 80%;
  height: 268px;
  margin-left: -104px;
  padding: 15px;
  background-color: #ffffff;
  position: absolute;
  z-index: 9;
}

#navbar-dropdown-celebrations-section-content-row01 ,#navbar-dropdown-celebrations-section-content-row02,#navbar-dropdown-celebrations-section-content-row03 {
  width: 20%;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.001em;
  text-align: left;
}

#navbar-dropdown-celebrations-section-content-row01 > a > div {
  margin-bottom: 20px;
  cursor: pointer;
}

#navbar-dropdown-celebrations-section-content-row02 > a >div {
  margin-bottom: 20px;
  cursor: pointer;
}

#navbar-dropdown-celebrations-section-content-row03 >a> div {
  margin-bottom: 20px;
  cursor: pointer;
}

#navbar-dropdown-celebrations-section-content-row01 >a{
  text-decoration: none;
  color: black;
}

#navbar-dropdown-celebrations-section-content-row02 >a{
  text-decoration: none;
  color: black;
}

#navbar-dropdown-celebrations-section-content-row03 >a{
  text-decoration: none;
  color: black;
}

#navbar-dropdown-celebrations-section-content-row04{
    display: flex;
    cursor: pointer;
}